<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Ashok kumar Kashyap </h2>
	
<p>	My self Ashok kumar Form Haryana, i am PHP Developer with more than 5 years Exprience.</p>
	


<h2>TECHNICAL SKILLS</h2>
<h6>Web Skills</h6> 		 
 <p>:- PHP,Mysql,Ajax, CURL, HTML ,CSS, PDO                                .
 JSON, XML, Payment API Integration, Rest API,  Ebay api, Amazon api </p>

<h6>Jquery Frameworks </h6>        
<p>:- Javascript, Jquery</p>
<p>:- Angular, Node ,NPM(Basic Knowledge)</p>
 
<h6>Mobile Development</h6>
<p>                          :- Phone gap, Cordova, Ionic, Ratchet (Basic Knowledge)</p>


<h6>CMS</h6>                             
<p>:- Opencart,Shopify, Wordpress,Prestashop , Oscommerce,Drupal8,Twig</p>

<h6>Frameworks</h6>		 <p>:- Codeigniter,Smarty, Twig, Laravel 	</p>

<h6>Web Server Tools</h6>       <p>:- WAMP,LAMP,XAMPP</p>

<h6>Hosting </h6>	             <p>:- Hostgator,iPage,Bluehost,Godaddy,etc…</p>



<h6>Other Languages</h6>	 <p>:- C, C++,Visual Basic, Java</p>

<h2>Github Projects</h2>

<p> <strong>Just Angular Demo Project with API</strong></p>
<p>
<a href="https://phpashok01.github.io/angularfirst/">https://phpashok01.github.io/angularfirst</a>
Duration: Jul 2018 - Jul 2018
i have used the Angular as Frontend and Display Data Using API About Countries.

</p>
<hr />

<h2><strong>Library Finder App</strong></h2>
<p><a href="https://phpashok01.github.io/library-finder/">https://phpashok01.github.io/library-finder</a></p>
<p>Duration: Jun 2018 - Jun 2018
This is an library finder App using the Angular and API for the Library this is an API URL 
</p>

<p><a href="https://api.cdnjs.com/libraries?search=js">API Link  (https://api.cdnjs.com/libraries?search=js)</a></p>


<hr />
<p>Design and Developd by (Ashok kumar Kashyap )</p>
 </ion-content>
</ion-view>

 